* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
  cursor: pointer;
}
li:hover {
  border-radius: 50%;
  background-color: rgba(29, 155, 240, 0.1);
}
form {
  display: flex;
  flex-direction: column;
}
input {
  background-color: transparent;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
}
.border-none {
  border: none;
}
input.twitter {
  background-color: rgb(29, 155, 240);
  padding: 15px 0;
  border: none;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
input.twitter:hover {
  background-color: rgb(8, 143, 233);
}
.submit-btn {
  width: 100px;
  height: 40px;
  background-color: rgba(29, 155, 240, 0.5);
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.submit-btn:hover {
  background-color: rgba(29, 155, 240, 0.8);
}
.danger-btn {
  width: 100px;
  height: 40px;
  background-color: rgba(232, 58, 20, 0.5);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.danger-btn:hover {
  background-color: rgba(232, 58, 20, 0.8);
}
.file-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.file-btn:hover {
  width: 30px;
  height: 30px;
  background-color: rgba(29, 155, 240, 0.1);
  border-radius: 50%;
}
button {
  background-color: transparent;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: 2px 2px 4px #eee;
  transition: 0.3s;
}
button:hover {
  background-color: #f3f3f3;
}
button.twitter {
  background-color: rgb(29, 155, 240);
  border: none;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(29, 155, 240);
}
#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.app-wrapper {
  display: flex;
  justify-content: center;
  min-width: 750px;
}
.app-wrapper > section {
  flex-grow: 1;
  padding: 10px 20px;
}
/* FontAwesomeIcon */
.twitter-logo > path {
  fill: rgb(29, 155, 240);
}
