.auth-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.auth-form .logo {
  padding-top: 20px;
}
.auth-form form {
  padding: 20px 0;
}
.auth-form .auth-btn {
  padding: 20px 0 30px 0;
  border-bottom: 1px solid #eee;
  color: #999;
  font-size: 14px;
  cursor: pointer;
}
.auth-form .auth-btn .find-password-btn {
  margin-left: 20px;
  position: relative;
}
.auth-form .auth-btn .find-password-btn::before {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  top: 5px;
  left: -10px;
}
.auth-form .btn-group {
  align-items: center;
  flex-direction: column;
}
.auth-form .btn-group > h4 {
  padding: 8px 0;
  color: #444;
}
.auth-form .btn-group > button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  cursor: pointer;
}
.auth-form .btn-group > button > img {
  width: 20px;
  height: 20px;
  position: absolute;
}
.auth-form .btn-group > button > p {
  margin: 0 auto;
}
