/* COMMON */
.btn-group {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 5px;
}
.btn-group li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.btn-group li:hover {
  width: 30px;
  height: 30px;
}

/* ADD TWEET */
.create-tweet {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.create-tweet .submit-btn {
  margin: 10px 0 10px 0;
}

/* TWEET */
.tile {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.tile > .tweet-item {
  display: flex;
  flex-direction: column;
}
.tile > .tweet-item {
  flex-grow: 1;
}
.tile .user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f4f4f4;
  margin-right: 20px;
  text-indent: -9999px;
}

.preview-img {
  width: 200px;
  position: relative;
}
.preview-img img {
  width: 100%;
  object-fit: cover;
}
.preview-img .danger-btn {
  width: 25px;
  height: 25px;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.btn-group input[type="file"] {
  display: none;
}
