/* COMMON */
.btn-group {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 5px;
}
.btn-group li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.btn-group li:hover {
  width: 30px;
  height: 30px;
}
.user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  height: 55px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  text-indent: -9999px;
}
.user-img img {
  width: 55px;
  height: 55px;
  object-fit: cover;
}

/* ADD TWEET */
.create-tweet {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.create-tweet form {
  flex-grow: 1;
}
.create-tweet .submit-btn {
  margin: 7px 0 7px 0;
}

.preview-img {
  width: 200px;
  position: relative;
}
.preview-img img {
  width: 100%;
  object-fit: cover;
}
.preview-img .danger-btn {
  width: 25px;
  height: 25px;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.btn-group.btn-area {
  justify-content: space-between;
  align-items: center;
}
.btn-group.btn-area > ul {
  display: flex;
  margin-top: 9px;
}

/* TWEET */
.tile {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.tile > .tweet-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.tweet-item .tweet-user-id {
  margin-left: 10px;
  color: #999;
  font-size: 12px;
  font-weight: lighter;
}
.tile > div:last-child {
  flex-grow: 1;
}
.tile > div:last-child .btn-group {
  justify-content: space-between;
  width: 90%;
  padding-top: 10px;
}
.tile > div:last-child .btn-group.editing {
  width: 100%;
  justify-content: right;
}

.timeline-tab > ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.timeline-tab > ul > li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 10px 30px;
  position: relative;
}
.timeline-tab > ul > li:hover {
  background-color: #eee;
  border-radius: 0;
  transition: 0.3s;
}
.timeline-tab > ul > li.active::before {
  content: "";
  width: 45%;
  height: 3px;
  background-color: rgb(29, 155, 240);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline {
  padding: 10px 0;
}
